<div class="container card card-body col-12 col-md-8 col-lg-6">

    <div class="form-group">
        <%= form_with(method: :patch, local: true) do |f| %>
            <div class="form-group">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, class: 'form-control', placeholder: 'Password' %>
            </div>
            <div class="form-group">
                <%= f.label :new_password %>
                <%= f.password_field :new_password, class: 'form-control', placeholder: 'Password' %>
            </div>
            <div class="form-group">
                <%= f.label :new_password_confirmation %>
                <%= f.password_field :new_password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
            </div>
            <%= f.submit 'Save Password', class: 'btn btn-warning col-12 col-md-4' %>
        <% end %>
    </div>
</div>
