<section class="container col-12 col-md-9 col-lg-8">
    <div class="card">
        <div class="card-body">
            <div class="">
                <% if @post.errors.present? %>
                    <p class="alert alert-danger"><%= @post.errors.full_messages.join(', ') %></p>
                <% end %>
            </div>
            
            <%= form_with model:@post, local: true do |f| %>
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :body, 'Content' %>
                    <%= f.text_area :body, rows: 7, class: "form-control" %>
                </div>
                <%= f.submit "#{@post.id.nil? ? "Create Post" : "Update Post"}", class: "btn btn-outline-dark" %>
            <% end %>
        </div>
    </div>
</section>
