<section class="container wrapper col-12 col-md-9 col-lg-8">
    <div class="card">
        <div class="card-body">
        <% if @post.errors.present? || @comment.errors.present?  %>
            <div class="errors alert alert-danger d-flex justify-content-center">
                <p><%= @post.errors.full_messages.join(', ') %>
                <p><%= @comment.errors.full_messages.join(', ') %></p>
            </div>
        <% end %>
            <h4 class="card-title"><%= @post.title %></h4>
            <p class="card-text"><%= @post.body %></p>
            <p class="card-text"><small class="text-muted"> Posted <%= time_ago_in_words(@post.created_at) %> ago</small></p>
            <% if can?(:crud, @post) %>
                <%= link_to 'Edit', edit_post_path(@post), class: "text-small btn btn-sm btn-outline-dark" %>
                
                <%= link_to 'Delete', post_path(@post), method: :delete, class: "btn btn-sm btn-outline-dark", data: {confirm: "Are you sure?"} %>
            <% end %>
        </div>
        <div class="card-body mt-4 col-lg-10">
            <%= form_with(model: [@post, @comment], local: true) do |f| %>
                <h5>Comments</h5>
                <div class="form-group w-75">
                    <%= f.text_area :body, placehoder: 'Comment', class: "form-control form-control-sm" %>
                </div>
                <%= f.submit 'Submit', class: 'btn btn-warning' %>
            <% end %>
        </div>
        <div class="mr-3">
            <ul class="list-group-flush mt-4">
                <% @comments.each do |comment| %>
                    <li class="list-group-item">
                        <p><%= comment.body %></p>
                        <div class="text-muted">
                            <small> Commented <%= time_ago_in_words(comment.created_at) %> ago by <strong><%= comment.user&.name&.titleize %></strong></small>
                            <% if can?(:crud, comment) %>
                                <strong> &bull; </strong>	
                                <small><%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: {confirm: "Your comment will be delete?"}, class: "text-decoration-none" %></small>
                            <% end %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
</section>
